name: Matrix Demo
on: push
jobs:
    build:
        strategy:
            matrix:
                node-version: [14, 16, 18]
                operating-system: [ubuntu-latest, windows-latest]
                include:
                    - node-version: 18
                      operating-system: macos-latest
                exclude:
                    - node-version: 14
                      operating-system: windows-latest
        runs-on: ${{ matrix.operating-system }}
        steps:
            - name: Get code
              uses: actions/checkout@v3 
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: build code
              run: npm run build       